---
layout: default
title: Home
---

<img src="IR6.jpg" alt="color photo ftl" width="100%" height="auto" />

<p> I am a highly motivated, 8 years experienced, mechanical engineer working in different projects as CAD engineer, structural engineer, system engineer, technical lead, cost engineer and project manager. I have a ‎keen ‎interest ‎in‎ ‎R&D, developing new technologies, digitalization and optimizing process and products. I love to think out of box to‎‎ ‎‎‎solve challenges, innovating ‎game-‎changing‎ ‎‎‎‎concepts‎‎‎‎, ‎developing ‎digital tools to do things more efficiently and also utilizing Machine Learning and data analyzing for making better business decisions.
    In following you can find more about my skills and interests,
   
          <li>Experienced technical lead in mechanical engineering and technology projects</li>
          <li>Complex system modeling, cost modeling, automating process and optimization</li>
          <li> Complex system modeling, cost modeling, automating process and optimization</li>
           <li>Experienced in steel structure design of wind turbine nacelle (FEM and analytical) </li>
           <li>Master of CAD parametric model configuring, leading 3D automation project (SolidWork, Inventor, CREO) </li>
           <li>Experienced in system engineering (SE) including Requirement specifications and DFMEA </li>
           <li> Programming in MATLAB and Python, familiar with VB and SQL</li>
           <li> Experienced in data modeling with Machine Learning specifically Neural Network-GMDH</li>
           <li> Good knowledge of data analytics, data warehouse and cloud platform technology </li> 
   
  
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
